<footer>

<div class="mtl pbl">
    <div class="bottom-menu bottom-menu-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <a href="#" class="bottom-menu-brand">Nanny Agency</a>
          </div>
          <div class="col-md-8 col-sm-8">
            <ul class="bottom-menu-list">
            <li><a href="#" target="_blank">Home</a></li>
              <li><a href="#" target="_blank">About US</a></li>
              <li><a href="#" target="_blank">Resources</a></li>
        </ul>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2">
            <ul class="bottom-menu-iconic-list">
              <li><a href="http://facebook.com/" class="fui-facebook" target="new"></a></li>
              <li><a href="http://twitter.com/" class="fui-twitter" target="new"></a></li>
              <li><a href="tel:+254717104727" class="fui-chat" target="new"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
</footer>
