

{% extends 'partials/base.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}



<div class="container">
	<br>
	<br>
  

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" name="maincontent" id="maincontent">
		
		<div id="exercise" name="exercise" class="panel panel-info">
		<div class="panel-heading"><h5>User Login Panel</h5></div>
			<div class="panel-body">
			<!-- ***********Edit your content STARTS from here******** -->
				Enter Credentials to Login<br>
				<form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                  
                  <div class="form-row">
					    <div class="form-group col-md-3">
					  <input class="btn btn-embosed btn-primary" name="submit" type="submit" value="Login" >
					  </div>
					  <div class="form-group col-md-9">
					      Don't have an existing Account? <a href="{% url 'signup' %}">Signup Here</a>
					  </div>
					</div>
					
				</form>
				<hr>
						
			
			
			<!-- ***********Edit your content ENDS here******** -->	
			</div> <!--body panel main -->
		</div><!--toc -->
		
    </div><!-- end main content -->
	
    <div class="col-md-3">
		
    </div><!-- end main menu -->
  </div>
</div><!-- end container -->
{% endblock %}