{% extends "partials/base.html" %}  
{% load crispy_forms_tags %}

{% block title %} Signup {% endblock%}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center><h2>Signup</h2></center>
        <form method="POST">
            {% csrf_token %}
            {{ signup_form | crispy}}
            
            <input type="submit" class="btn btn-info" name="submit" value="Register"><br>
            Already Have An Account? <a href="{% url 'user_login' %}">Login</a>
        </form>

        </form>

    </div>
    <div class="col-md-3"></div>
</div>
</div>
{% endblock %}