{% extends "partials/base.html" %}  

{% block title %} User Dashboard {% endblock%}

{% block content %}
{% include 'partials/navbar.html'%}
<div class="container">
<div class="row">

        {% for data in data %}
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ data.nannyprofile.image.url }}"  width="100" 
            height="100" alt="Nanny">
            <div class="card-body">
              <h5 class="card-title">{{data.username}}</h5>
              <h6 class="card-title">{{data.city}}</h6>
              <p class="card-text">Description.</p>
              <a href="#" class="btn btn-primary">Call Me!</a>
            </div>
          </div>
        </div>
      
      {%endfor%}
      
        
</div><!-- end div col-md-12 -->
</div>
{% endblock %}